extends layout

block content
  h1 BTD Database
  p.lead Information about the BTD community.
  hr
  .row
    .col-sm-6
      h2 Community Lookup
      p Put a name to a face!
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Weekend Logs
      p Information about past and future weekends.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Rector
      p Tools for rectors to manage their weekend team.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Pre-weekend Couple
      p Tools for the pre-weekend couple to manage candidates.
      p
        a.btn.btn-default(href='#', role='button') View details »