<h1>
    {{ $ctrl.person | name }}
    <small>Pescadore</small>
</h1>

<div>
    <button 
        class="btn btn-primary" 
        ng-disabled="$ctrl.isAlreadyWorking()"
        ng-click="$ctrl.addToCurrentWeekend()"
        >Add to {{$ctrl.person | weekendGender }} Team</button>
    <button 
        class="btn btn-default" 
        ng-disabled="$ctrl.isAlreadyWorking(true)"
        ng-click="$ctrl.addToCurrentWeekend(true)"
        >Add to {{ $ctrl.person | weekendGender:true }} Team</button>
    <button class="btn btn-default">Edit</button>
</div>

<blockquote>
    <pre>
    {{$ctrl.person | json:4}}
    </pre>
</blockquote>