<h1>
    {{ $ctrl.person | pescadoreName }}
    <small>Pescadore</small>
</h1>

<div>
    <button 
        class="btn btn-primary" 
        ng-disabled="$ctrl.isAlreadyWorking()"
        ng-click="$ctrl.addToCurrentWeekend()"
        >Add to {{$ctrl.person | weekendGender }} Team</button>
    <button 
        class="btn btn-default" 
        ng-disabled="$ctrl.isAlreadyWorking(true)"
        ng-click="$ctrl.addToCurrentWeekend(true)"
        >Add to {{ $ctrl.person | weekendGender:true }} Team</button>
    <button class="btn btn-default">Edit</button>
</div>

<div class="person-details">
    <div class="row">
        <div class="col-sm-3">
            <label>Full name</label><br> 
            <span>{{$ctrl.person | pescadoreName:true}}</span>
        </div>

        <div class="col-sm-3" ng-show="$ctrl.person.candidateOn">
            <label>Candidate On</label><br>
            <a href="#!/weekend/{{$ctrl.person.gender}}/{{$ctrl.person.candidateOn}}">
                {{$ctrl.person.gender}} #{{$ctrl.person.candidateOn}}
            </a>
        </div>

        <div class="col-sm-3" ng-show="$ctrl.person.candidateOn && $ctrl.person.table">
            <label>Table Of</label><br>
            <span>{{$ctrl.person.table}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3" ng-show="$ctrl.person.status">
            <label>Status</label><br>
            {{$ctrl.person.status}}
        </div>

        <div class="col-sm-3" ng-show="$ctrl.person.sponsor">
            <label>Sponsor</label><br>
            <a href="#!/pescadores/{{$ctrl.person.sponsor._id}}">{{$ctrl.person.sponsor | pescadoreName}}</a>
        </div>

        <div class="col-sm-3" ng-show="$ctrl.person.spouse">
            <label>Spouse</label><br>
            <a href="#!/pescadores/{{$ctrl.person.spouse._id}}">{{$ctrl.person.spouse | pescadoreName}}</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label>Email</label><br>
            {{$ctrl.person | pescadoreEmail}}
        </div>
        <div class="col-sm-3">
            <label>Address</label><br>
            <div ng-repeat="line in $ctrl.person.addressLines">{{line}}</div>
        </div>

        <div class="col-sm-3">
            <label>Phone</label><br>
            <div ng-repeat="phone in $ctrl.person.phoneNumbers">
                {{phone.digits | pescadorePhone}} 
                <span class="glyphicon glyphicon-phone" ng-show="phone.label === 'cell'"></span>
                <span class="glyphicon glyphicon-earphone" ng-show="phone.label !== 'cell'"></span>
                <span class="glyphicon glyphicon-star" ng-show="phone.isPreferred"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <label>Church</label><br>
            {{$ctrl.person.church}}
        </div>

        <div class="col-sm-3">
            <label>Recorded Weekends Worked</label><br>
            {{$ctrl.person.experiences.length || '0'}}
        </div>

        <div class="col-sm-3">
            <label>Candidates Sponsored</label><br>
            {{$ctrl.person.candidatesSponsored.length || '0'}}
        </div>

        <div class="col-sm-3"></div>
    </div>

    <div class="person-experience">
        <h4>Team Experiences</h4>
        <div ng-show="$ctrl.person.groupedExperiences">
            <ul class="collection">
                <li class="collection-item" ng-repeat="(role, experiences) in $ctrl.person.groupedExperiences">
                    {{role}}
                    &mdash; 
                    <a href="#!/weekend/{{experience.weekendGender}}/{{experience.weekendNumber}}" ng-repeat="experience in experiences">
                        {{experience.weekendGender}} #{{experience.weekendNumber}}
                        <span class="glyphicon glyphicon-star" ng-show="experience.role.isHead">
                    </a>
                </li>
            </ul>
        </div>

        <em ng-hide="$ctrl.person.groupedExperiences">This pescadore has no recorded team experiences.</em>
    </div>

    <div class="person-experience">
        <h4>Sponsored</h4>
        <ul class="collection" ng-show="$ctrl.person.candidatesSponsored">
            <li class="collection-item" ng-repeat="sponsoredPerson in $ctrl.person.candidatesSponsored">
                <a href="#!/pescadores/{{sponsoredPerson._id}}">{{sponsoredPerson | pescadoreName}}</a>
                &mdash; 
                <a href="#!/weekend/{{sponsoredPerson.gender}}/{{sponsoredPerson.candidateOn}}">
                    {{sponsoredPerson.gender}} #{{sponsoredPerson.candidateOn}}
                </a>
            </li>
        </ul>
        
        <em ng-hide="$ctrl.person.candidatesSponsored">This pescadore has not sponsored any other candidates.</em>
    </div>
</div>
