<template name="layout">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Birmingham Tres Dias</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/weekends">Weekends</a></li>
                <li><a href="/people">People</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        {{>Template.dynamic template=routeTemplate}}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">De Colores</h5>
                    <p class="grey-text text-lighten-4">Sing the babe chicks!</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links to Change</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Sponsor</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Secretariat</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Prayers</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Upcoming Events</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2016 We ❤ Tres Dias
            </div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</template>