<template name="weekend">
    <div class="row">
        <div class="col s12">
            <h4>{{weekendTitle}}</h4>
            <p>Details and attendees list for the weekend.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {{#each attendees}}
                <li class="collection-item">
                    <span class="right">{{ role.title }}</span>
                    <a href="/person/{{ person._id }}">{{ name(person) }}</a>
                </li>
                {{else}}
                <li class="collection-item">
                    <p>No known attendees.</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</template>